<h3>Saltarelle.KnockoutJs Examples</h3>
<p>
	Here are the new C# examples:
</p>
<ul>
	<li>@Html.ActionLink("Person", "Person", "Examples")</li>
	<li>@Html.ActionLink("Click Counter", "ClickCounter", "Examples")</li>
	<li>@Html.ActionLink("Simple List", "SimpleList", "Examples")</li>
	<li>@Html.ActionLink("Better List", "BetterList", "Examples")</li>
	<li>@Html.ActionLink("Control Types", "ControlTypes", "Examples")</li>
	<li>@Html.ActionLink("Working with Collections", "Collections", "Examples")</li>
	<li>@Html.ActionLink("Paged Grid", "PagedGrid", "Examples")</li>
	<li>@Html.ActionLink("Animated Transitions", "AnimatedTransitions", "Examples")</li>

	<li>@Html.ActionLink("Contacts", "Contacts", "Examples")</li>
	<li>@Html.ActionLink("Gifts", "Gifts", "Examples")</li>
	<li>@Html.ActionLink("Shopping Cart", "ShoppingCart", "Examples")</li>
	<li>@Html.ActionLink("Twitter", "Twitter", "Examples")</li>
</ul>